<div class="our-gallery">
    <div class="bg-img-2 ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-title text-center white_bg" >
                        <h2>Menu du jour</h2>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="gallery-item-box row">
                            <div class="dises-show text-center" >
                           
                                <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let post of posts">
                                    <div class="single-disesh">
                                        <div class="disesh-img">
                                            <a href="#"><img  class="disesh-img" src={{retrievedImage}}{{post[4]}} width=325px height=203 alt=""></a>
                                        </div>
                                        <div class="disesh-desc pt-50">
                                            <h3 >{{post[1]}}</h3>
                                            <p class="price">{{post[2]}} Dhs</p>
                                        </div>
                                        <hr>
                                        <div class="">
                                            <button  (click)="adddemande(post[0],post[1])" type="button" class="fav2">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                         </div>
                                    </div>
                                </div>

                              
                                
                            </div>	


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>