    
    <header role="banner">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
          <div class="container">
            <img class="navbar-brand" src="/assets/home/img/logo.png" >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarsExample05">
              <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                <li class="nav-item">
                  <a class="nav-link active" style="font-size: large;margin-right: 20px;" routerLink="/home">Accueil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="recipes.html"></a>
                </li>
                <li class="nav-item">
                  <a style="font-size: large;" class="nav-link" href="https://www.oncf.ma/fr/الأخبار">News</a>
                </li>
              </ul>
  
              <div class="collapse navbar-collapse" id="navbarsExample05">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item cta-btn">
                  <a class="nav-link" routerLink="/login"><i class="fas fa-user"></i> S'identifier</a>
                </li>
              </ul>
            </div>
              
            </div>
          </div>
        </nav>
      </header>
      <!-- END header -->
      
      <div class="slider-wrap">
        <section class="home-slider owl-carousel">
  
  
          <div class="slider-item" style="background-image: url('/assets/home/img/hero_1.png');">
            
            <div class="container">
              <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 ">
                  <h1 data-aos="fade-up">Demandez vos plats à votre bureau</h1>
                  <p class="mb-5" data-aos="fade-up" data-aos-delay="100">ONCF RESTAURANT</p>
                  <p data-aos="fade-up" data-aos-delay="200"><a routerLink="/login" class="btn btn-white btn-outline-white">Voir plus</a></p>
                </div>
              </div>
            </div>
  
          </div>
  
  
        </section>
      <!-- END slider -->
      </div> 
      
  
      <section class="section bg-light py-5  bottom-slant-gray">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left  service-block" data-aos="fade-up" data-aos-delay="100">
              <span class="wrap-icon"><span style="left: 31px;" class="flaticon-food-and-restaurant d-flex justify-content-between"></span></span>
              <h3 class="mb-2 text-primary">Soupes</h3>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="200">
              <span class="wrap-icon"><span style="left: 31px;" class="flaticon-food-1 d-flex justify-content-between"></span></span>
              <h3 class="mb-2 text-primary">&nbsp;Tajine</h3>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="300">
              <span class="wrap-icon"><span style="left: 32px;" class="flaticon-salami d-flex justify-content-between"></span></span>
              <h3 class="mb-2 text-primary">&nbsp;Pizzas</h3>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="300">
              <span class="wrap-icon"><span style="left: 31px;" class="flaticon-food-and-restaurant-2 d-flex justify-content-between"></span></span>
              <h3 class="mb-2 text-primary">&nbsp; Plats</h3>
            </div>
          </div>
        </div>
      </section>
      
  
      <section class="section pb-0">
        <div class="container">
          <div class="row mb-5 justify-content-center" data-aos="fade">
              <div class="col-md-7 text-center heading-wrap">
                <h2 data-aos="fade-up">ONCF Restaurant</h2>
                <p data-aos="fade-up" data-aos-delay="100">Commandez vos repas en ligne facilement avec ONCF Restaurant sans quitter votre poste</p>
              </div>
            </div>
          <div class="row align-items-center">
            <div class="col-lg-4">
              <img src="/assets/home/img/dishes_1.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="200">
            </div>
            <div class="col-lg-4">
              <img src="/assets/home/img/about_1.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="300">
              <img src="/assets/home/img/about_2.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="400">
            </div>
            <div class="col-lg-4">
              <img src="/assets/home/img/dishes_3.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="500">
            </div>
          </div>
        </div>
      </section>
  
      <section class="section bg-light  top-slant-white bottom-slant-gray">
  
        <div class="clearfix mb-5 pb-5">
          <div class="container-fluid">
            <div class="row" data-aos="fade">
              <div class="col-md-12 text-center heading-wrap">
                <h2>NOTRE MENU</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          
          <div class="row no-gutters ">
            <div class="col-md-6">
  
              <div  class=" sched d-block d-lg-flex">
                <div class="bg-image order-2" style="background-image: url('/assets/home/img/dishes_4.jpg');" data-aos="fade"></div>
                <div class="text order-1">
                  <h3>Pizzas</h3>
                  <p>À partir de<br><br><br><br><br></p>
                  <p class="text-primary h3">15.00 Dhs</p>
                </div>
                
              </div>
  
              <div class="sched d-block d-lg-flex">
                <div class="bg-image" style="background-image: url('/assets/home/img/dishes_1.jpg');" data-aos="fade"></div>
                <div class="text">
                  <h3>Plateaux Sushi</h3>
                  <p>À partir de<br><br><br><br><br></p>
                  <p class="text-primary h3">60.00 Dhs</p>
                  
                </div>
                
              </div>
  
            </div>
            <div class="col-md-6">
              <div class=" sched d-block d-lg-flex">
                <div class="bg-image order-2" style="background-image: url('/assets/home/img/dishes_2.jpg');" data-aos="fade"></div>
                <div class="text order-1">
                  <h3>Tajine</h3>
                  <p>À partir de<br><br><br><br><br></p>
                  <p class="text-primary h3">25.00 Dhs</p>
                  
                </div>
                
              </div>
  
              <div class="sched d-block d-lg-flex">
                <div class="bg-image" style="background-image: url('/assets/home/img/dishes_3.jpg');" data-aos="fade"></div>
                <div class="text">
                  <h3>Poulet</h3>
                  <p>À partir de<br><br><br><br><br></p>
                  <p class="text-primary h3">20.00 Dhs</p>
                  
                </div>
                
              </div>
  
            </div>
          </div>
  <br>
          <div class="row no-gutters">
            <div class="col-md-6">
              <div class="sched d-block d-lg-flex">
                <div class="bg-image order-2" style="background-image: url('/assets/home/img/dishes_8.jpg');" data-aos="fade"></div>
                <div class="text order-1">
                  <h3>Boissons</h3>
                  <p>À partir de<br><br><br><br><br></p>
                  <p class="text-primary h3">2.00 Dhs</p>
                </div>
                
              </div>
  
              <div class="sched d-block d-lg-flex">
                <div class="bg-image" style="background-image: url('/assets/home/img/dishes_5.jpg');" data-aos="fade"></div>
                <div class="text">
                  <h3>Jus Frais</h3>
                  <p>À partir de<br><br><br><br><br></p>
                  <p class="text-primary h3">6.00 Dhs</p>
                  
                </div>
                
              </div>
  
            </div>
  
            <div class="col-md-6">
              <div class="sched d-block d-lg-flex">
                <div class="bg-image order-2" style="background-image: url('/assets/home/img/dishes_6.jpg');" data-aos="fade"></div>
                <div class="text order-1">
                  <h3>Sandwicherie</h3>
                  <p>À partir de<br><br><br><br><br></p>
                  <p class="text-primary h3">12.00 Dhs</p>
                  
                </div>
                
              </div>
  
              <div class="sched d-block d-lg-flex">
                <div class="bg-image" style="background-image: url('/assets/home/img/dishes_7.jpg');" data-aos="fade"></div>
                <div class="text">
                  <h3>Cafeteria</h3>
                  <p>À partir de<br><br><br><br><br></p>
                  <p class="text-primary h3">2.50 Dhs</p>
                  
                </div>
                
              </div>
  
            </div>
  
          </div>
  
  
        </div>
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 ">
              <br>
              <p data-aos="fade-up" data-aos-delay="200"><a routerLink="/login" class="btn btn-outline-warning">VOIR PLUS</a></p>
            </div>
          </div>
        </div>
  
      </section> <!-- .section -->
  
     
  
      <footer class="site-footer" role="contentinfo">
   
        <div class="container">
          <div class="row mb-5">
            <div class="col-md-4 mb-5">
              <h3>À propos de nous</h3>
              <p class="mb-5">
                Avec le développement des technologies digitales au sein de L’ONCF, et son
                orientation vers la valorisation de son système d’information, la DSID a 
                digitalisé leur restaurant interne et de mettre en place un site web qui sera le canal
                entre les collaborateurs de l’office et le restaurant interne.</p>
              <ul class="list-unstyled footer-link d-flex footer-social">
                <li><a href="https://twitter.com/oncfgroup" class="p-2"><span class="fa fa-twitter"></span></a></li>
                <li><a href="https://www.facebook.com/oncfpageofficielle" class="p-2"><span class="fa fa-facebook"></span></a></li>
                <li><a href="https://www.linkedin.com/company/oncf" class="p-2"><span class="fa fa-linkedin"></span></a></li>
                <li><a href="https://www.instagram.com/groupe_oncf" class="p-2"><span class="fa fa-instagram"></span></a></li>
              </ul>
  
            </div>
            <div class="col-md-5 mb-5">
              <div class="mb-5">
                <h3>Horaires d'ouvertures</h3>
                <p><strong class="d-block font-weight-normal text-black">Lundi-vendredi</strong> 9AM - 15PM</p>
              </div>
              <div>
                <h3>Contact Info</h3>
                <ul class="list-unstyled footer-link">
                  <li class="d-block">
                    <span class="d-block text-black">Address:</span>
                    <span>8 Bis, Rue Abderrahmane El Ghafiki, Agdal - Rabat
                    </span></li>
                  <li class="d-block"><span class="d-block text-black">Tél:</span><span>+212(0)537-77-47-47</span></li>
                  <li class="d-block"><span class="d-block text-black">Fax:</span><span>+212(0)537-77-47-47</span></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 mb-5">
              <h3>Liens rapides</h3>
              <ul class="list-unstyled footer-link">
                <li><a href="#">À propos de</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Contactez-nous</a></li>
              </ul>
            </div>
            <div class="col-md-3">
            
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-md-center text-left">
              <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This Website is made by Nasreddine Rattal
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>
        </div>
      </footer>
  